{% extends 'forumapp/base.html' %}

{% block content %}

{% for section in sections %}
<div class="col-lg-12">
    <table class="table forum-table">
        <thead>
        <tr>
            <th>{{ section.name }}</th>
            <th>Recent posts</th>
            <th>Topics</th>
        </tr>
        </thead>
        <tbody>
        {% for forum in section.forum_set.all %}
        <tr class="clickable-row">
            <td><a href="{% url 'forum' forum.id %}">{{ forum.name }}</a></td>
            <td>*Recent Posts*</td>
            <td>*Number of topics*</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}