{% extends "forumapp/base.html" %}

{% block content %}
{% if form.message.value %}
<div>Editing your post for: <a href="{% url 'thread-view' forum.id thread.id %}">{{ thread }}</a></div>
{% else %}
<div>Responding to: <a href="{% url 'thread-view' forum.id thread.id %}">{{ thread }}</a></div>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input class="btn btn-success" type="submit" value="Submit"/>
</form>
{# TODO limit words #}
{% endblock %}