{% extends "forumapp/base.html" %}

{% block content %}
<div>Current forum: <a href="{% url 'forum' forum.id %}">{{ forum.name }}</a></div>
{% if response_list %}
<table class="table forum-table">
    <thead>
    <tr>
        <th>{{ thread }}</th>
    </tr>
    </thead>

    <tbody>
    {% for response in response_list %}
    <tr>
        <td>
            {{ response.created_datetime }} <br/><br/>
            {{ response }}
            <hr/>
            by <a href="{% url 'user-view' response.responder.id %}">{{ response.responder }}</a>
            {% if response.responder == request.user %}
            <a
                style="float: right"
                href="{% url 'edit-post' response.thread.forum.id response.thread.id response.id %}" class="btn btn-info"
                role="button"
            >Edit</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<div>The requested thread is non-existent on this forum.</div>
{% endif %}
<a href="{% url 'respond-thread' thread.forum.id thread.id %}"
   class="btn btn-success" role="button">Respond</a>
{% if can_delete %}
<a href="{% url 'thread-delete' thread.forum.id thread.id %}"
   class="btn btn-danger" role="button">Delete thread</a>
{% endif %}

{% endblock %}