{% extends "forumapp/base.html" %}

{% block content %}
<div>Forum: {{ forum.name }} - {{forum.section.name }}</div>
{% if thread_list %}
<table class="table forum-table">
    <thead>
    <tr>
        <th>All posts</th>
        <th>Replies</th>
        <th>Last activity</th>
    </tr>
    </thead>
    {% for thread in thread_list %}
    <tbody>
    <tr class="clickable-row">
        <td>
            <div>
                <a href="{% url 'thread-view' thread.forum.id thread.id %}">
                    {{ thread.name }}
                </a>
            </div>
            {{ thread.threadresponse_set.first.created_datetime }} by {{ thread.threadresponse_set.first.responder }}
        </td>
        <td>{{ thread.threadresponse_set.all|length|add:"-1" }}</td>
        {% if thread.threadresponse_set.all|length > 1 %}
        <td>"{{ thread.threadresponse_set.last.message|truncatechars:15 }}" by {{ thread.threadresponse_set.last.responder }}</td>
        {% else %}
        <td>No responses</td>
        {% endif %}
    </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<div>No threads.</div>
{% endif %}
<a
    href="{% url 'new-thread' forum.id %}"
    class="btn btn-success"
    role="button"
>Create a new thread</a>
{% endblock %}
