{% extends "forumapp/base.html" %}

{% block title %}
{{ forum.name }}
{% endblock %}

{% load forumapp_extras %}

{% block content %}
<div>Forum: {{ forum.name }} - {{ forum.section.name }}</div>
{% if thread_list %}
<table class="table forum-table">
    <thead>
    <tr>
        <th>All posts</th>
        <th>Replies</th>
        <th>Last activity</th>
    </tr>
    </thead>
    {% for thread in thread_list %}
    <tbody>
    <tr class="clickable-row">
        <td>
            <div>
                <a href="{% url 'thread-view' thread.forum.id thread.id %}">
                    {{ thread.name }}
                </a>
            </div>
            {{ thread.threadresponse_set.first.created_datetime }} by <a href="{% url 'user-view' thread.threadresponse_set.first.responder.pk %}">{{ thread.threadresponse_set.first.responder }}</a>
        </td>
        <td>{{ thread.threadresponse_set.all|length|add:"-1" }}</td>
        {% if thread.threadresponse_set.all|length > 1 %}
        <td>"<a href="{% url 'thread-view' thread.threadresponse_set.last.thread.forum.id thread.threadresponse_set.last.thread.id %}#{{ thread.threadresponse_set.last.order_in_thread }}">{{ thread.threadresponse_set.last.message|truncatechars:15 }}</a>" by <a href="{% url 'user-view' thread.threadresponse_set.last.responder.pk %}">{{ thread.threadresponse_set.last.responder }}</a>
        {% else %}
        <td>No responses</td>
        {% endif %}
    </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<div>No threads.</div>
{% endif %}


<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {% if thread_list.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ thread_list.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for i in thread_list.paginator.num_pages|times %}
        {% if thread_list.number|stringformat:"i" == i %}
        <li class="page-item active">
            <span class="page-link">{{ i }}</span>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if thread_list.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ thread_list.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>

<a
    href="{% url 'new-thread' forum.id %}"
    class="btn btn-success"
    role="button"
>Create a new thread</a>
{% endblock %}
