{% extends 'forumapp/base.html' %}

{% block content %}
{% for response in user_responses %}

{% if banned_until %}
<div>Banned until: {{ banned_until }}</div>
{% endif %}

<div>
    {% if response.order_in_thread > 10 %}

<a href='{% url "thread-view" response.thread.forum.id response.thread.id %}?page={% widthratio response.order_in_thread 10 1|add:"1" %}#{{ response.order_in_thread }}'>{{ response }}</a>

    {% else %}

<a href="{% url 'thread-view' response.thread.forum.id response.thread.id %}#{{ response.order_in_thread }}">{{ response }}</a>

    {% endif %}
</div>
{% endfor %}
{% if can_ban %}
    <div><a role="button" href="{% url 'ban-user' viewed_user.pk %}" class="btn btn-warning">Ban User</a></div>
{% endif %}
{% endblock %}